body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin: 0; padding: 0; }
ol, ul { list-style: none; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
html,body { height:100%; }

body {
	background: #2E2E2E;
	color: #959593;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 11px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.fl { float: left; }
.fr { float: right; }

a {
	color:#F9F9F6;
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
	color: #eec0e2;
}

a:visited {
	
}

h1 { }
h2 { }
h3 { }
h4 { }
h5 { font-size:16px; }
h6 { }

div#flash_notice {
	padding: 15px 0;
	text-align:center;
	background: #d5ebeb;
}

div#flash_error {
	padding: 15px 0;
	text-align:center;
	background: #eec0e2;
}

div#container {
	width:960px;
	margin:5px auto 0;
}

header { }
nav { float:right; }
header nav { text-align: right;}
header nav ul { display: none; }

header h1 {
	background: url(../images/logo.png) no-repeat;
	height:70px;
	width: 395px;
	text-indent: -99999px;
	margin: 50px auto 25px;
}

header h1:hover { background-position: 0 -70px; }
header h1 a { display: block; height: 70px;}

header h2 { font-size: 11px; display: inline; font-weight:normal; }

div#new-video, div#login { 
	background:#3F3F3F;
	padding: 10px 0;
	display:none;
}

div#new-video form, div#login ul { width: 960px; margin: 0 auto; }



/************  HOME  ******************/

nav.video {
	float:left;
}

nav.video ul {
margin: 25px 0;
}

nav.video ul li {
	display: inline;
	margin: 0 25px 0 0;
}


ul#video li {
	background-color:#3F3F3F;
	float:left;
	margin-bottom:20px;
	padding:8px;
	width:640px;
}

.video_votes {
	float: left;
}

img.small_thumb {
	margin: 0 10px;
}

.video_data {
	float: left;
	margin: 8px 0 0 5px;
}

.video_data p {
	font-size: 12px;
}

/************  COMMENTS  ******************/
.comment_votes {
	float: left;
}

.comment_data {
	float:left;
	margin:10px 0 0 5px;
}