<nav class="video">
	<ul>
		<li><%= link_to_unless_current "Newest", root_path %></li>
		<li><%= link_to_unless_current "Currently Popular", currently_popular_path %></li>
		<li><%= link_to_unless_current "All Time Best", best_path %></li>
		<li><%= link_to_unless_current "Controversial", controversial_path %></li>
	<ul>
</nav>

<div class="clear"></div>