<% title "Videos" %>
<% if current_user %>
	<p><%= link_to "Submit New Video", new_video_path %></p>
<% end %>

<h2>Most Popular</h2>

<p>Eventually users will be able to sort videos here (hot, top, worst), and play them in playlists, for now it just lists all the videos that have been submitted. It will also be nice and ajaxy (so that the video pops up underneath the title without reloading the page, the user will only go to the view page if they want to leave a comment.)</p>

<ul>
	<% @videos.each do |video| %>
		<li>
			<h3><%= link_to "#{video.title}", video %></h3>
		</li>
	<% end %>
</ul>